<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>swiftupgrader</name>
	<displayName><![CDATA[SwiftMailer upgrader]]></displayName>
	<version><![CDATA[1.0.2]]></version>
	<description><![CDATA[Upgrade your SwiftMailer]]></description>
	<author><![CDATA[Michael Dekker]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
